<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getId()}">Id</p>
<p th:text="${person.getFio()}">Fio</p>
<p th:text="${person.getYearBirthday()}">YearBirthday</p>
<br/>
<hr/>
<div th:switch="${books.isEmpty()}">
    <p th:case="true">Человек пока не взял ни одной книги</p>
    <p th:case="false">
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYears()}">Book
        </a>
    </div>
    </p>
</div>
<br/>
<hr/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
<input type="submit" value="Delete"/>
</form>
</body>
</html>